@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --color-primary-glow: rgba(99, 102, 241, 0.5);
  
  --color-secondary: #a855f7;
  --color-secondary-glow: rgba(168, 85, 247, 0.4);
  
  --font-sans: "Inter", "system-ui", "sans-serif";
  --font-heading: "Outfit", "sans-serif";
  
  --background-image-premium-bg: radial-gradient(at 0% 0%, rgba(99, 102, 241, 0.15) 0, transparent 50%), radial-gradient(at 100% 0%, rgba(168, 85, 247, 0.15) 0, transparent 50%);
}

@layer base {
  body {
    background-color: #020617;
    color: #f8fafc;
    min-height: 100vh;
    background-image: var(--background-image-premium-bg);
  }
}
